<main class="mx-5 my-5">
  <h1><%= @workout.title %></h1>
  <div class="d-flex mt-4">
    <div class="row">
      <div class="col-md-8">
        <iframe width="1420" height="800" src="https://www.youtube.com/embed/<%= @workout.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="border border-3 rounded-5"></iframe>
      </div>
      <div class="col-md-4">
        <p><%= @workout.description %></p>
        <div class="buttons">
          <button class="zf-button">Favourite</button>
          <button class="zf-button">Share</button>
          <button class="zf-button">Watch list</button>
        </div>
        <h1>Comment section goes here! ^^</h1>
      </div>
    </div>
  </div>

</main>
