<h1 class="text-center">All Recipes</h1>
<div class="container">
  <p><a href="/recipes/new" class="text-decoration-none"><strong>Add a new recipe</strong></a></p>
</div>
<div class="container d-flex justify-content-center align-items-center">
  <div class="grid">
    <% @recipes.each do |recipe| %>
      <div class="item">
        <img class="w-100 h-75 object-fit-cover" src="<%= recipe.url %>">
        <div class="item-content d-flex flex-column">
          <p class="fs-5"><%= link_to recipe.title, recipe_path(recipe), class: "text-decoration-none fs-6" %></p>

          <div class="d-flex flex-column align-items-center">
            <p><%= recipe.prep_time %> Minutes</p>
            <p><%= recipe.difficulty %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
