<div class="container">
  <h1>Speak with your fellows</h1>

  <ul>
    <% @chatroom.each do |chatroom| %>
      <li>
        <p class="border rounded-shadow"><%= link_to chatroom.name, chatroom_path(chatroom) %></p>
      </li>
    <% end %>
  </ul>
</div>
