<div class="container">

  <%= simple_form_for @user, url: edit_user_profile_path(@user) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :bio %>
  <% end %>

  <%# @user, as: :user, method: :post, url: users_path %>



</div>
