<div class="container">
  <!--
  <% simple_form_for [@user, as: :user, method: :post, url: edit_user_profile_path] do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :bio %>
  <% end %>
  -->


  <%# @user, as: :user, method: :post, url: users_path %>
  <%= form_for @user do |f| %>

  <% end %>


</div>
