<div class="banner mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1687052470524-d5d74c13de59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);">
  <div class="container">
    <%# ! Anything in the banner? %>
  </div>
</div>


<div><%= @user.bio %></div>
<% if policy(@user).edit? %>
  <%= link_to "Edit this section", edit_user_path(@user) %>
<% end %>

<div><%= @user.interests %></div>
