<% content_for(:title) do %>
  <title>Friends | ZoneFit</title>
<% end %>

<div class="container w-25">
  <p class="text-center fs-1 mt-5" style="border-style: solid none solid none; border-width: 1px;">Friends</p>
</div>


<div class="container my-5">
  <% if @pending_requests_came.count > 0 %>
    <% @pending_requests_came.each do |friend| %>
      <%= render "shared/friend", friend: friend %>
    <% end %>
  <% end %>

  <% if @pending_requests.count > 0 %></p>
    <% @pending_requests.each do |friend| %>
      <%= render "shared/friend", friend: friend %>
    <% end %>
  <% end %>

  <% if @friends.count > 0 %>
    <% @friends.each do |friend| %>
      <%= render "shared/friend", friend: friend %>
    <% end %>
  <% end %>
</div>
