.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 70px;
  right: 10px;
  font-size: 30px;
  background-color: rgba(0, 255, 171, 0.4);
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 255, 171, 0.8);
    color: white;
    border-style: solid;
    border-color: white;
    transition: background-color 0.3s ease-in-out;
  }
}

.page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 10px;
  font-size: 30px;
  background-color: rgba(0, 255, 171, 0.4);
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 255, 171, 0.8);
    color: white;
    border-style: solid;
    border-color: white;
    transition: background-color 0.3s ease-in-out;
  }
}

.zf-button {
  // width: 400px;
  // height: 400px;
  font-size: 20px;
  background-color: rgba(0, 255, 171, 0.4);
  border-style: none;
  padding: 5px 5px;
  &:hover {
    background-color: rgba(0, 255, 171, 0.8);
    color: white;
    border-style: solid;
    border-color: white;
    transition: background-color 0.3s ease-in-out;
  }
}

.custom-btn {
  // width: 130px;
  // height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-send {
  position: absolute;
  bottom: 60px;
  right: 8px;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
}

.btn-purple {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-send:after,
.btn-purple:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}

.btn-send:hover,
.btn-purple:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}

.btn-send:hover:after,
.btn-purple:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.btn-green {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-green:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-green:hover {
  color: #fff;
}
.btn-green:hover:after {
  top: 0;
  height: 100%;
}
.btn-green:active {
  top: 2px;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.post-button {
  &:hover {
    background-color: #03c8a8;
  }
}

.community-button {
  background-color: #f79e97;
  color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #cacaca;
  &:hover {
    background-color: #f5786f;
    color: white;
  }
}

// Pagination buttons

.first, .page, .last {
  display: none;
}

$green: #97ffc2;
// Basic Button Style
.pgn .prev, .pgn .next {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 0.5px solid #black;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 0.6em 1.4em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.prev, .next {
  border-color: black;
  text-decoration: none;
  // border: 0;
  border-radius: 0;
  color: $green;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $green;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }

  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}

.prev a, .next a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

// Navbar buttons

/* 5 */
.btn-navbar {
  width: 140px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(34,166,153);
  background: linear-gradient(0deg, rgba(34,166,153, 0.1) 0%, rgba(34,166,153, 1) 100%);
  box-shadow: none;
  color: inherit;
  font-family: inherit;
}
.btn-navbar:hover {
  color: #ffffff;
  background: transparent;
  box-shadow:none;
}
.btn-navbar:before,
.btn-navbar:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(255, 255, 255);
  transition:400ms ease all;
}
.btn-navbar:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-navbar:hover:before,
.btn-navbar:hover:after{
  width:100%;
  transition:400ms ease all;
}

.dropdown-menu {
  z-index: 1000;
  background-color: rgb(34,166,153);
  &:hover {
    background-color: rgb(34,166,153);
  }
}

.dropdown-menu a:hover {
  background-color: rgb(34,166,153);
}

// Login

.login {
  background-color: #63ffd0;
  // border-color: #B8F1B0;
  border-radius: 6px;

  &:hover {
    background-color: #98fddf;
    transition-duration: 0.3s;
  }
}

// Friendship buttons

.add-friend {
  border-style: none;

  &:hover {
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
}
