.footer {
  background-color: #22A699;
  color: black;
  padding: 10px 0;
  text-align: center;
}

.social-media-links {
  display: flex;
  justify-content: center;
}

li {
  padding: 10px;
  list-style-type: none;
}

i {
  color: black;
}

.zonefit {
  font-family: 'Tilt Prism', cursive;
}
